*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    margin: auto;
    max-width: 1000px;

}

h1{
    text-align: center;
    margin-top: 16px;
    font-size: 48px;
}

#div1 input{
    margin-top: 32px;
    width: 80%;
    border-bottom: 1px solid #333;
}

#div1 button{
    padding: 4px 16px;
    border-radius: 34px;
    cursor: pointer;
    background-color: #2bff7c;
    color: white;
    font-size: 24px;
}

.div2{
    margin-top: 32px;
    width: 70%;
}

ul{
    margin-top: 16px;
    max-width: 1000px;
}

li{
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #333;
    margin-bottom: 24px;

}

a{
    float: right;
    text-decoration: none;
    color: tomato;
    cursor: pointer;
}